*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  font-size: 1.35rem;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: auto; }

body {
  font-family: Inter, sans-serif;
  line-height: 1.4;
  color: rgba(242, 242, 242, 0.5); }

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1rem 0; }

.paragraph {
  font-size: 1.35rem;
  margin: 1rem 0; }

.banner {
  text-align: center;
  max-width: 48rem;
  margin: 0 auto; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  color: #121212;
  border-radius: 12px;
  font-weight: 700;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  box-shadow: 0 0 0 3px rgba(18, 18, 18, 0), 0 6px 20px rgba(18, 18, 18, 0.1);
  transition: box-shadow 0.2s ease;
  white-space: nowrap; }

.call-to-action {
  display: flex;
  flex-direction: column;
  background-color: #fdd231;
  color: rgba(18, 18, 18, 0.5);
  padding: 2rem;
  border-radius: 24px; }

main > .app-section:first-child .app-section__inner {
  padding-top: 12rem; }

.app {
  overflow: hidden; }
  .app__header {
    position: relative;
    z-index: 2; }
  .app__content {
    position: relative;
    z-index: 1; }

.app-section {
  position: relative; }
  .app-section--black {
    background-color: #000;
    color: rgba(242, 242, 242, 0.5); }
    .app-section--black h1,
    .app-section--black h2,
    .app-section--black h3,
    .app-section--black h4,
    .app-section--black h5,
    .app-section--black h6 {
      color: #f2f2f2; }
  .app-section--yellow {
    background-color: #fdd231;
    color: rgba(18, 18, 18, 0.5); }
    .app-section--yellow h1,
    .app-section--yellow h2,
    .app-section--yellow h3,
    .app-section--yellow h4,
    .app-section--yellow h5,
    .app-section--yellow h6 {
      color: #121212; }
  .app-section__inner {
    position: relative;
    z-index: 2;
    padding: 8rem 3rem;
    max-width: 66rem;
    margin: 0 auto; }
  .app-section__wave {
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 0;
    width: calc(100% + 1px);
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.app-section--black + .app-section--black .app-section__inner,
.app-section.has-wave .app-section__inner,
:not(main) > .app-section:first-child .app-section__inner {
  padding-top: 0; }

.testimonials__header {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.navigation {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: #121212; }
  .navigation--bright {
    color: #f2f2f2; }
  .navigation__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 66rem;
    margin: 0 auto;
    padding: 2rem 3rem; }
  .navigation__logo {
    display: flex;
    align-items: center; }
  .navigation__icon {
    width: 3rem;
    height: auto; }
  .navigation___name {
    display: block;
    width: 6.75rem;
    margin-left: 0.5rem; }
  .navigation__item {
    margin-left: 1rem; }
  .navigation__menu {
    display: flex;
    list-style: none; }
  .navigation__link, .navigation:link, .navigation:visited {
    padding: 0.4rem;
    border-radius: 9px;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #121212; }
    .navigation__link:hover, .navigation__link:active, .navigation:link:hover, .navigation:link:active, .navigation:visited:hover, .navigation:visited:active {
      background-color: rgba(18, 18, 18, 0.05); }

.split {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .split__text {
    width: 53%; }
  .split__media {
    width: 35%;
    margin: 0; }
  .split.is-flipped {
    flex-direction: row-reverse; }
  .split__media {
    margin-bottom: 2rem; }
