//COLORS
$color-primary: #fdd231;

$color-primary-dark: rgba(253, 210, 49, 0.2);

$color-alert-success: #28c941;

$color-grey-1: hsla(0, 0%, 94.9%, 0.5);
$color-grey-2: rgba(18, 18, 18, 0.05);
$color-grey-3: hsla(0, 0%, 94.9%, 0.06);

$color-white: #f2f2f2;
$color-black: #000;

//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
