.split {
  &__media {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .split {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .split__text {
    width: 53%;
  }

  .split__media {
    width: 35%;
    margin: 0;
  }

  .split.is-flipped {
    flex-direction: row-reverse;
  }
}
