.accordion {
  margin: 1.5rem 0;

  &:first-child {
    margin-top: 0;
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  &__headline {
    margin: 0;
    padding-right: 0.5rem;
  }

  &__icon-wrapper {
    flex: 0 0 auto;
    width: 1.5rem;
    // margin-top: -0.2rem;
  }

  &__icon {
  }

  &__response {
    height: 0;
    overflow: hidden;
    opacity: 0;

    &--visible {
      height: 100%;
      overflow: visible;
      opacity: 1;
    }
  }

  &__content {
  }
}
