.blob-text {
	// background-image: url(./images/blob.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100%;
	padding: 4rem 0;

	&__content {
		color: $color-white;
		margin: 0 auto;
		max-width: 40rem;
	}

	p {
		margin: 1rem 0;
	}
}
