.call-to-action {
  display: flex;
  flex-direction: row-reverse;
  background-color: $color-primary;
  color: $color-grey-dark;
  padding: 5rem;
  align-items: center;
  border-radius: 24px;

  &__media {
    width: 35%;
    flex: 0 0 auto;
  }

  &__image {
    width: 100%;
    height: auto;
    margin: -2rem -2rem -2rem 2rem;
  }

  &__content {
    flex: 1 1 auto;
  }
}
