.call-to-action {
  display: flex;
  flex-direction: row-reverse;
  background-color: $color-primary;
  color: $color-grey-dark;
  padding: 5rem;
  align-items: center;
  border-radius: 24px;

  @include respond(tab-land) {
    // width < 900?
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }

  &__media {
    width: 35%;
    flex: 0 0 auto;
  }

  &__image {
    width: 100%;
    height: auto;
    margin: -2rem -2rem -2rem 2rem;

    @include respond(tab-land) {
      // width < 900?
      margin: 0 0 0 -1.5rem;
    }
  }

  &__content {
    flex: 1 1 auto;
  }
}
