.row {
  max-width: $grid-width;
  margin: 0 auto;

  @include respond(tab-port) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }

  @include clearfix;

  [class^='col-'] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        padding-bottom: 0;
      }
    }
    @include respond(tab-port) {
      width: 100% !important;
      margin: 0;
      max-width: 100%;
      padding-bottom: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);

    .narrow {
      padding-bottom: 0.7rem;
    }
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);

    &.narrow {
      @include respond(tab-port) {
        padding-bottom: 1.5rem;
      }
    }

    @include respond(tab-port) {
      padding-bottom: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
