.small,
small {
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

.clone {
  text-align: left;
  margin: 10px 0 auto;
  padding: 0;
}
.green {
  color: $color-green;
}
.yellow {
  color: $color-primary;
}
