//COLORS
$color-primary: #fdd231;
$color-primary-dark: rgba(253, 210, 49, 0.2);

$color-white: #f2f2f2;
$color-black-light: #121212;
$color-black: #000;

$color-green: #28c941;
$color-red: #ff624d;

$color-grey-transparent: rgba(18, 18, 18, 0.05);
$color-grey-light: hsla(0%, 0%, 94.9%, 0.5);
$color-grey-medium: hsla(0%, 0%, 94.9%, 0.06);
$color-grey-dark: rgba(18, 18, 18, 0.5);

$color-grey-dark-2: rgba(242, 242, 242, 0.1);

//FONT SIZES
$default-font-size: 1.35rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2.5rem;
