.call-to-action {
  display: flex;
  flex-direction: column;
  background-color: #fdd231;
  color: rgba(18, 18, 18, 0.5);
  padding: 2rem;
  border-radius: 24px;

  &__media {
  }

  &__content {
  }
}
