.countdown-button {
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  margin: 2rem 0;

  & .has-discount {
    width: 26rem;

    &__inner {
      border-radius: 19px;
      padding: 0.6rem;
      background-color: rgba(18, 18, 18, 0.05);
    }
  }

  & :first-child {
    margin-top: 0;
  }
  & :last-child {
    margin-bottom: 0;
  }

  &__discount {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    font-style: italic;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__countdown {
    display: flex;
    margin: 0 0 0.6rem;
  }

  &__button {
    flex: 1 1 auto;
  }

  &__button,
  &__countdown {
    width: 100%;
  }

  &__item {
    flex: 1 0 auto;
    line-height: 1.2;
  }

  &__value {
    text-align: center;
    font-feature-settings: 'tnum' 1;
    font-size: 1.2rem;
    font-weight: 700;
    color: #121212;
  }

  &__label {
    text-align: center;
    font-weight: 700;
    font-size: 0.8rem;
  }

  &__price {
    display: inline-block;
    padding-left: 0.25rem;
  }
}

@media screen and (min-width: 500px) {
  .countdown-button__inner {
    flex-direction: row;
  }
}

@media screen and (min-width: 500px) {
  .countdown-button__countdown {
    margin: 0 0.6rem 0 0;
  }
}

@media screen and (min-width: 500px) {
  .countdown-button__button,
  .countdown-button__countdown {
    width: 50%;
  }
}
