.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

/*
max-width
0-350         Small Phone
350-600px     Phone
600-700px     Tablet Portrait
700-900       Tablet Landscape
[900- 1200]  Normal styles

$breakpoint argument choices
- small-phone
- phone
- tab-port
- tab-land

ORDER: Base + typography > general layout + grid layout > page layout > components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  font-size: 1.35rem;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: auto; }

button,
input,
textarea {
  background-color: transparent;
  border: 0;
  font: inherit;
  color: inherit; }
  button:focus,
  input:focus,
  textarea:focus {
    outline: none; }

a {
  color: inherit;
  transition: color 0.2s ease, background-color 0.2s ease;
  cursor: pointer; }

::-webkit-scrollbar {
  width: 14px;
  height: 14px; }
  ::-webkit-scrollbar-thumb {
    background-color: #fdd231; }
  ::-webkit-scrollbar-track {
    background-color: transparent; }
  ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px; }
  ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0; }
  ::-webkit-scrollbar-corner {
    background-color: transparent; }

@font-face {
  font-family: Inter-Bold;
  src: url(/Inter-Bold.21b03340.woff2); }

@font-face {
  font-family: Inter-Medium;
  src: url(/Inter-Medium.e18b4f07.woff2); }

@font-face {
  font-family: Inter-Regular;
  src: url(/Inter-Regular.b5e44244.woff2); }

@font-face {
  font-family: Inter-SemiBoldItalic;
  src: url(/Inter-SemiBoldItalic.6b4a430d.woff2); }

@font-face {
  font-family: Inter-SemiBold;
  src: url(/Inter-SemiBold.ea7b5d3a.woff2); }

body {
  font-family: Inter, sans-serif;
  line-height: 1.4;
  color: rgba(242, 242, 242, 0.5);
  -webkit-font-feature-settings: 'cv05' 1;
  font-feature-settings: 'cv05' 1; }

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1rem 0; }
  .heading-primary:first-child {
    margin-top: 0; }
  @media only screen and (max-width: 43.75em) {
    .heading-primary {
      font-size: 2rem; } }

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 1rem 0; }
  .heading-secondary:first-child {
    margin-top: 0; }
  @media only screen and (max-width: 43.75em) {
    .heading-secondary {
      font-size: 1.7rem; } }

.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0; }
  .heading-tertiary:first-child {
    margin-top: 0; }
  @media only screen and (max-width: 43.75em) {
    .heading-tertiary {
      font-size: 1.15rem; } }

.paragraph {
  font-size: 1.35rem;
  margin: 1rem 0; }

.small,
small {
  display: block;
  font-size: 1rem;
  font-weight: 500; }

.clone {
  text-align: left;
  margin: 10px 0 auto;
  padding: 0; }
  @media only screen and (max-width: 50em) {
    .clone {
      text-align: center; } }

.green {
  color: #28c941; }

.yellow {
  color: #fdd231; }

.app-footer__section {
  padding: 2rem 0;
  border-bottom: 2px solid rgba(242, 242, 242, 0.1); }
  .app-footer__section:last-child {
    border-bottom: none; }
  .app-footer__section:nth-last-child(2) {
    border-bottom: none; }

.app-footer__apps {
  column-count: 4;
  column-gap: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .app-footer__apps {
      column-count: 2; } }
  @media only screen and (max-width: 31.25em) {
    .app-footer__apps {
      column-count: 1; } }

.app-footer__app {
  display: inline-block;
  width: 100%;
  margin: 0.4rem 0; }

.app-footer__link:link, .app-footer__link:visited {
  text-decoration: none;
  color: inherit; }

.app-footer ul {
  list-style: none; }
  .app-footer ul li {
    margin: 0.4rem 0; }
  .app-footer ul a {
    text-decoration: none; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 50em) {
    .row {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap-reverse; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 2.5rem; }
      @media only screen and (max-width: 50em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          padding-bottom: 0; } }
    @media only screen and (max-width: 50em) {
      .row [class^='col-'] {
        width: 100% !important;
        margin: 0;
        max-width: 100%;
        padding-bottom: 2.5rem;
        padding-right: 2.5rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 2.5rem) / 2); }
    .row .col-1-of-2 .narrow {
      padding-bottom: 0.7rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2.5rem) / 3); }
    @media only screen and (max-width: 50em) {
      .row .col-1-of-3 {
        padding-bottom: 1.5rem;
        padding-right: 1.5rem; } }

.navigation {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: #121212; }
  .navigation--bright {
    color: #f2f2f2; }
  .navigation__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 66rem;
    margin: 0 auto;
    padding: 2rem 3rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation__inner {
        padding: 2rem 1.5rem; } }
  .navigation__logo {
    display: flex;
    align-items: center; }
  .navigation__icon {
    width: 3rem;
    height: auto; }
  .navigation__name {
    display: block;
    width: 6.75rem;
    margin-left: 0.5rem; }
    @media only screen and (max-width: 43.75em) {
      .navigation__name {
        display: none; } }
  .navigation__menu {
    display: flex;
    list-style: none; }
  .navigation__item {
    margin-left: 1rem; }
  .navigation__link, .navigation:link, .navigation:visited {
    padding: 0.4rem 0.6rem;
    border-radius: 9px;
    font-size: 1.15rem;
    font-weight: 700;
    text-decoration: none;
    color: #121212; }
    @media only screen and (max-width: 43.75em) {
      .navigation__link, .navigation:link, .navigation:visited {
        padding: 0.4rem;
        font-size: 1rem; } }
    .navigation__link:hover, .navigation__link:active, .navigation:link:hover, .navigation:link:active, .navigation:visited:hover, .navigation:visited:active {
      background-color: rgba(18, 18, 18, 0.05); }

.split {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .split__text {
    width: 53%; }
    @media only screen and (max-width: 43.75em) {
      .split__text {
        width: 100%; } }
  .split__media {
    width: 35%;
    margin: 0; }
    @media only screen and (max-width: 43.75em) {
      .split__media {
        width: 100%;
        margin-bottom: 2rem; } }
  .split.is-flipped {
    flex-direction: row-reverse; }
  @media only screen and (max-width: 43.75em) {
    .split {
      display: inline; } }

.accordion {
  margin: 1.5rem 0; }
  .accordion:first-child {
    margin-top: 0; }
  .accordion__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0; }
  .accordion__headline {
    margin: 0;
    padding-right: 0.5rem; }
  .accordion__icon-wrapper {
    flex: 0 0 auto;
    width: 1.5rem; }
  .accordion__response {
    height: 0;
    overflow: hidden;
    opacity: 0; }
    .accordion__response--visible {
      height: 100%;
      overflow: visible;
      opacity: 1; }
  @media only screen and (max-width: 50em) {
    .accordion__column {
      padding-bottom: 0 !important; } }

.banner {
  text-align: center;
  max-width: 48rem;
  margin: 0 auto; }

.blob-text {
  background-image: url(/blob.8bf91874.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
  padding: 4rem 0; }
  @media only screen and (max-width: 43.75em) {
    .blob-text {
      padding: 0; } }
  .blob-text__content {
    color: #f2f2f2;
    margin: 0 auto;
    max-width: 40rem; }
  .blob-text p {
    margin: 1rem 0; }

.brain {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: auto;
  margin: 0 0.8rem; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  color: #121212;
  border-radius: 12px;
  font-weight: 700;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  box-shadow: 0 0 0 3px rgba(18, 18, 18, 0), 0 6px 20px rgba(18, 18, 18, 0.1);
  transition: box-shadow 0.2s ease;
  white-space: nowrap; }

.call-to-action {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fdd231;
  color: rgba(18, 18, 18, 0.5);
  padding: 5rem;
  align-items: center;
  border-radius: 24px; }
  @media only screen and (max-width: 56.25em) {
    .call-to-action {
      flex-direction: column;
      align-items: stretch;
      padding: 2rem; } }
  .call-to-action__media {
    width: 35%;
    flex: 0 0 auto; }
  .call-to-action__image {
    width: 100%;
    height: auto;
    margin: -2rem -2rem -2rem 2rem; }
    @media only screen and (max-width: 56.25em) {
      .call-to-action__image {
        margin: 0 0 0 -1.5rem;
        width: 100%;
        height: auto; } }
  .call-to-action__content {
    flex: 1 1 auto; }

.countdown-button {
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  margin: 2rem 0; }
  .countdown-button__inner {
    display: flex;
    align-items: center;
    border-radius: 19px;
    padding: 0.6rem;
    background-color: rgba(18, 18, 18, 0.05);
    border-radius: 19px; }
    @media only screen and (max-width: 31.25em) {
      .countdown-button__inner {
        flex-direction: column; } }
  .countdown-button__countdown {
    display: flex;
    margin: 0 0.6rem 0 0;
    width: 50%; }
    @media only screen and (max-width: 31.25em) {
      .countdown-button__countdown {
        width: 100%;
        margin: 0 0 0.6rem 0; } }
  .countdown-button__button {
    flex: 1 1 auto;
    width: 50%; }
    @media only screen and (max-width: 31.25em) {
      .countdown-button__button {
        width: 100%; } }
  .countdown-button__item {
    flex: 1 0 auto;
    line-height: 1.2; }
  .countdown-button:first-child {
    margin-top: 0; }
  .countdown-button:last-child {
    margin-bottom: 0; }
  .countdown-button__discount {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    font-style: italic; }
  .countdown-button__value {
    text-align: center;
    font-feature-settings: 'tnum' 1;
    font-size: 1.2rem;
    font-weight: 700;
    color: #121212; }
  .countdown-button__label {
    text-align: center;
    font-weight: 700;
    font-size: 0.8rem; }
  .countdown-button__price {
    display: inline-block;
    padding-left: 0.25rem; }

.demo-video {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
  background-color: #121212;
  border-radius: 9px; }
  .demo-video__ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    border-radius: inherit;
    overflow: hidden; }
  .demo-video__video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden; }
  .demo-video video {
    object-fit: contain; }

.download-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem; }
  .download-button:first-child {
    margin-left: 0; }
  .download-button__btn {
    justify-content: center;
    padding: 0.5rem 0.75rem;
    text-align: left; }
  .download-button__icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.5rem; }
  .download-button__content {
    display: inline-flex;
    flex-direction: column; }
  .download-button__label {
    font-size: 0.7rem; }
  .download-button__text {
    font-size: 1.2rem; }
  .download-button__meta {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    font-weight: 600; }

.feature-item__header {
  display: flex;
  margin-bottom: 1rem;
  align-items: baseline; }

.feature-item__icon-wrapper {
  flex: 0 0 auto;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  color: #fdd231;
  background-color: rgba(253, 210, 49, 0.2);
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.8rem;
  border-radius: 50%; }

.feature-item__icon {
  height: 1.25rem;
  width: 1.25rem; }

.feature-item__title {
  margin: 0; }

.icon {
  display: inline-flex;
  width: 1rem;
  height: 1rem; }
  .icon > svg {
    width: 100%;
    height: 100%;
    fill: currentColor; }
    .icon > svg * {
      fill: inherit; }

.logo-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -0.5rem;
  max-width: 22rem; }
  .logo-grid__item {
    width: 25%;
    padding: 0.5rem; }

.logo {
  perspective: 300px; }
  .logo__inner {
    height: 0;
    padding-bottom: 100%; }
  .logo__back, .logo__card, .logo__front {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .logo__back, .logo__front {
    z-index: 3; }
  .logo__card {
    z-index: 2;
    background-color: rgba(242, 242, 242, 0.1); }
  .logo__image {
    width: 60%;
    height: 60%;
    object-fit: contain; }

.newsletter-form {
  display: flex;
  width: 100%;
  flex-direction: column; }
  .newsletter-form__content {
    background-color: rgba(242, 242, 242, 0.1);
    border-radius: 9px;
    padding: 0.4rem;
    display: flex;
    width: 100%; }
  .newsletter-form__input {
    width: 100%;
    min-width: 0;
    font-size: 1rem;
    font-weight: 500;
    flex: 1 1 auto;
    padding: 0 0.2rem;
    color: #f2f2f2; }
    .newsletter-form__input input {
      border: none;
      background-color: transparent;
      font: inherit; }
  .newsletter-form__button {
    cursor: pointer;
    outline: none;
    border: none;
    flex: 0 0 auto;
    background-color: #f2f2f2;
    color: #000;
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    transition: opacity 0.2s ease; }

.product-banner {
  background-color: #ff624d;
  color: #121212;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  position: relative; }
  .product-banner__content {
    position: relative;
    z-index: 2;
    padding: 2.5rem 2rem;
    width: 60%; }
    @media only screen and (max-width: 43.75em) {
      .product-banner__content {
        padding: 1.5rem;
        width: 100%; } }
  .product-banner__headline {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3rem; }
    @media only screen and (max-width: 43.75em) {
      .product-banner__headline {
        font-size: 1.4rem; } }
  .product-banner__subline {
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.7; }
    @media only screen and (max-width: 43.75em) {
      .product-banner__subline {
        font-size: 1.1rem; } }
  .product-banner__media {
    position: relative;
    width: 40%;
    height: auto;
    align-self: stretch;
    opacity: 1;
    z-index: 1;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 43.75em) {
      .product-banner__media {
        opacity: 0.12;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }
  .product-banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left; }

.rounded-image {
  border-radius: 19px;
  height: auto;
  width: 100%; }

.testimonials__header {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  text-align: center; }

.testimonials__ratings {
  display: inline-block;
  vertical-align: middle;
  width: 6rem;
  height: auto;
  margin: 1rem 0; }

.testimonials__image {
  width: 7rem;
  height: 7rem;
  margin-top: -3.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2rem; }

.testimonials__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 0; }

.testimonials__title {
  color: #f2f2f2; }

.glide__slides {
  overflow: visible;
  margin: 0 auto; }

.glide__track {
  overflow: visible;
  margin: 0 auto; }

.glide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 3rem 3rem;
  margin: 3rem 0 0 0;
  height: auto;
  flex-shrink: 0;
  position: relative;
  width: 30rem;
  background-color: rgba(242, 242, 242, 0.06);
  border-radius: 20px;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: opacity 0.2s ease, filter 0.2s ease; }
  .glide__slide--active {
    filter: none;
    opacity: 1; }

main > .app-section:first-child .app-section__inner {
  padding-top: 12rem; }
  @media only screen and (max-width: 43.75em) {
    main > .app-section:first-child .app-section__inner {
      padding-top: 8rem; } }

.app {
  overflow: hidden; }
  .app__header {
    position: relative;
    z-index: 2; }
  .app__content {
    position: relative;
    z-index: 1; }

.app-section {
  position: relative; }
  .app-section__inner {
    position: relative;
    z-index: 2;
    padding: 8rem 3rem;
    padding-top: 0;
    max-width: 66rem;
    margin: 0 auto; }
    @media only screen and (max-width: 43.75em) {
      .app-section__inner {
        padding: 4rem 1.5rem;
        padding-top: 0; } }
  .app-section--black {
    background-color: #000;
    color: rgba(242, 242, 242, 0.5); }
    .app-section--black h1,
    .app-section--black h2,
    .app-section--black h3,
    .app-section--black h4,
    .app-section--black h5,
    .app-section--black h6 {
      color: #f2f2f2; }
    .app-section--black .call-to-action h2 {
      color: #000; }
  .app-section--yellow {
    background-color: #fdd231;
    color: rgba(18, 18, 18, 0.5); }
    .app-section--yellow h1,
    .app-section--yellow h2,
    .app-section--yellow h3,
    .app-section--yellow h4,
    .app-section--yellow h5,
    .app-section--yellow h6 {
      color: #121212; }
  .app-section__wave {
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 0;
    width: calc(100% + 1px);
    height: auto;
    user-select: none; }
  .app-section .has-wave__inner {
    padding-top: 0; }


/*# sourceMappingURL=/js.00a46daa.css.map */